@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .accordion {
        max-height: 0;
        opacity: 0;
        transform: translateY(-10px);
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.4s ease, transform 0.4s ease;
      }
    
      .accordion.open {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
      }
  }